:root {
  --text-color: oklch(0.25 0.015 264);
  --primary-color: oklch(0.42 0.19 264);
  --background-color: oklch(0.98 0.002 264);
  --header-background-color: oklch(0.98 0.002 264);
  --border-color: oklch(0.89 0.01 264);
  --muted: oklch(0.94 0.01 264);
  --muted-foreground: oklch(0.52 0.015 264);
  --card-color: oklch(1 0 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

section {
  min-height: 100vh;
  scroll-margin-top: 350px; /* fix header on top of elements */
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-background-color);
  border-bottom: 2px solid var(--border-color);
  z-index: 1000;
}

.header-inner {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}
nav {
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  width: 100%;
}

.nav-list a {
  display: flex;
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--muted-foreground);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 100%;
}

.nav-list a:hover {
  background-color: var(--muted);
  color: var(--text-color);
}

.hero-title {
  font-size: 1.5rem;
  font-weight: 900;
  text-wrap: nowrap;
}

.hero-description {
  font-size: 1.25rem;;
  font-weight: 400;
  color: var(--muted-foreground);
  text-wrap: nowrap;
}

.card-container {
  flex-direction: column;
}

.card {
  background-color: white;
  width: 100%;
  line-height: 2rem;
  padding: 1rem 1.5rem;
  border: 2px solid var(--border-color);
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 29px 0px;
  margin-top: 2rem;
}

.card-title {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  letter-spacing: -0.02rem;
}

.card-description {
  font-size: 0.9rem;
  color: var(--muted-foreground);
  letter-spacing: -0.05rem;
}

.card-skill {
  font-weight: 600;
  font-size: 1rem;
  margin: 1.5rem 0rem;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  aspect-ratio: 1;
}

.card-image img {
  width: 2rem;
}


/* Mobile = <576px */
@media (max-width: 576px) {
}

/* Tablet = 576px - 991.98px */
@media (min-width: 576px) and (max-width: 992px) {

}

/* Desktop = >=992px */
@media (min-width: 992px) {
  .header-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  section {
    scroll-margin-top: 80px;
    padding: 1rem 0;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.25rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
  }
}
